@mixin marginTop ($size) {
    margin-top: $size;
}

@mixin marginBottom ($size) {
    margin-bottom: $size;
}

@mixin fontSize ($size) {
    font-size: $size;
}

@mixin textDecorationBlack (){
    text-shadow: 2px 2px 0 #212529, 2px -2px 0 #212529, -2px 2px 0 #212529, -2px -2px 0 #212529, 2px 0px 0 #212529, 0px 2px 0 #212529, -2px 0px 0 #212529, 0px -2px 0 #212529;
}

@mixin textDecorationBlue() {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

@mixin textDecorationWhite() {
    text-shadow: 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
}

@mixin backgroundDiv($url) {
    background: url($url);
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body{
    background-color: #f5f3f4;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.marginT{
    @include marginTop(15px);
}

.marginB{
    @include marginBottom(15px);
}

#header{
    @include marginTop(3em);
    @include marginBottom(3em)
}

#title-main{
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;
    margin-top: 10px;
    transition: all 300ms;
    @include textDecorationBlue();

    #title-a{
        text-decoration: none;
        color: #FFFFFF;
    }
}

#title-main:hover{
    animation: shakeY;
  animation-duration: 2s; 
}

.colums-btn{
    background-color: #cbf3f0;
    @include marginTop(15px);
    border-radius: 8px;
    border: 3px solid black;
    margin-left: 4px;
    cursor: pointer;

    img{
        @include marginTop(15px);
        @include marginBottom(10px);
    }

    h5{
        @include textDecorationWhite();
        letter-spacing: 3px;
    }
}

.colums-btn:hover{
    animation: heartBeat;
    animation-duration: 2s; 
}

#new_year_bnt:hover{
    @include backgroundDiv("../../assets/fondo_div/añonuevo.jpg");
}

#christmas_bnt:hover{
    @include backgroundDiv("../../assets/fondo_div/pattern.jpg");
}

#day_of_dead_bnt:hover{
    @include backgroundDiv("../../assets/fondo_div/day-of-the-dead-paper-4433345_1920.jpg");
}

#halloween_bnt:hover{
    @include backgroundDiv("../../assets/fondo_div/bats.png");
}

#independence_bnt:hover{
    @include backgroundDiv("../../assets/fondo_div/fiestas-patrias3.jpg");
}

#father_day_bnt:hover{
    @include backgroundDiv("../../assets/fondo_div/fathers-day-card.jpg");
}

#mother_day_bnt:hover{
    @include backgroundDiv("../../assets/fondo_div/diadelasmothers.jpg");
}

#valentin_day_bnt:hover{
    @include backgroundDiv("../../assets/fondo_div/love.jpg");
}

#age_person_bnt:hover{
    @include backgroundDiv("../../assets/fondo_div/business-861325_1920.jpg");
}
/*RESULTADO*/

.result-class{
    background-color: #f8f9fa;
    box-shadow: 2px 2px 2px 2px black;
}

#new_year_result{
    display: none;
    @include backgroundDiv("../../assets/fondo_div/añonuevo.jpg");
}

#christmas_result{
    display: none;
    @include backgroundDiv("../../assets/fondo_div/navidad.jpg");
}

#day_of_dead_result{
    display: none;
    @include backgroundDiv("../../assets/fondo_div/frame-5323753_1920.png");
}

#halloween_result{
    display: none;
    @include backgroundDiv("../../assets/fondo_div/halloween.jpg");
}

#independence_result{
    display: none;
    @include backgroundDiv("../../assets/fondo_div/fiestas-patrias3.jpg");
}

#father_day_result{
    display: none;
    @include backgroundDiv("../../assets/fondo_div/fathers-day.jpg");
}

#mother_day_result{
    display: none;
    @include backgroundDiv("../../assets/fondo_div/diadelasmothers.jpg");
}

#valentin_day_result{
    display: none;
    @include backgroundDiv("../../assets/fondo_div/sanvalentin.jpg");
}

#age_person_result{
    display: none;
}

#init_result{
    @include backgroundDiv("../../assets/fondo_div/time-3222267_1920.jpg");

    .icon-i{
        @include textDecorationWhite();
    }
}

#holidays_h3{
    color: black;
    @include textDecorationWhite();
}

.title_box{
    color: white;
    @include textDecorationBlack();
    letter-spacing: 3px;
}

/*Reloj*/
.box-clock{
    background-color: #343a40;
    color: white;
    @include textDecorationBlack();
    letter-spacing: 4px;
    border-radius: 8px;
    border: 3px solid #adb5bd;
    overflow: hidden;
}