@mixin marginTop ($size) {
    margin-top: $size;
}

@mixin marginBottom ($size) {
    margin-bottom: $size;
}

@mixin fontSize ($size) {
    font-size: $size;
}

@mixin textDecorationBlack (){
    text-shadow: 2px 2px 0 #212529, 2px -2px 0 #212529, -2px 2px 0 #212529, -2px -2px 0 #212529, 2px 0px 0 #212529, 0px 2px 0 #212529, -2px 0px 0 #212529, 0px -2px 0 #212529;
}

@mixin textDecorationBlue() {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

@mixin textDecorationWhite() {
    text-shadow: 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
}

body{
    background-color: #f5f3f4;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.marginT{
    @include marginTop(15px);
}

.marginB{
    @include marginBottom(15px);
}

#title-main{
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;
    margin-top: 10px;
    transition: all 300ms;
    @include textDecorationBlue();

    #title-a{
        text-decoration: none;
        color: #FFFFFF;
    }
}

#title-main:hover{
    animation: shakeY;
  animation-duration: 2s; 
}

.colums-btn{
    background-color: #e9c46a;
    padding: 20px;
    @include marginTop(15px);
    border-radius: 8px;
    border: 3px solid black;
    margin-left: 4px;
    cursor: pointer;

    span:hover{
        text-decoration: underline;
    }
}

.colums-btn:hover{
    background-color: #ffd6a5;
    animation: heartBeat;
    animation-duration: 2s; 
}

/*RESULTADO*/

.result-class{
    background-color: #f8f9fa;
    box-shadow: 2px 2px 2px 2px black;
}

#new_year_result{
    display: none;
    background: url("../../assets/fondo_div/añonuevo.jpg");
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#christmas_result{
    display: none;
    background: url("../../assets/fondo_div/navidad.jpg");
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#day_of_dead_result{
    display: none;
    background: url("../../assets/fondo_div/frame-5323753_1920.png");
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#halloween_result{
    display: none;
    background: url("../../assets/fondo_div/halloween.jpg");
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#independence_result{
    display: none;
    background: url("../../assets/fondo_div/fiestas-patrias3.jpg");
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#father_day_result{
    display: none;
    background: url("../../assets/fondo_div/fathers-day.jpg");
    background-color: #f8f9fa;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#mother_day_result{
    display: none;
}

#valentin_day_result{
    display: none;
}

#age_person_result{
    display: none;
}

#holidays_h3{
    color: black;
    @include textDecorationWhite();
}

.title_box{
    color: white;
    @include textDecorationBlack();
    overflow: hidden;
}

/*Reloj*/
.box-clock{
    background-color: #343a40;
    color: white;
    @include textDecorationBlack();
    letter-spacing: 4px;
    border-radius: 8px;
    border: 3px solid #adb5bd;
}

