@charset "UTF-8";
body {
  background-color: #f5f3f4;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.marginT {
  margin-top: 15px;
}

.marginB {
  margin-bottom: 15px;
}

#header {
  margin-top: 3em;
  margin-bottom: 3em;
}

#title-main {
  text-align: center;
  font-size: 40px;
  letter-spacing: 4px;
  margin-top: 10px;
  transition: all 300ms;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}
#title-main #title-a {
  text-decoration: none;
  color: #FFFFFF;
}

#title-main:hover {
  animation: shakeY;
  animation-duration: 2s;
}

.colums-btn {
  background-color: #cbf3f0;
  margin-top: 15px;
  border-radius: 8px;
  border: 3px solid black;
  margin-left: 4px;
  cursor: pointer;
}
.colums-btn img {
  margin-top: 15px;
  margin-bottom: 10px;
}
.colums-btn h5 {
  text-shadow: 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
  letter-spacing: 3px;
}

.colums-btn:hover {
  animation: heartBeat;
  animation-duration: 2s;
}

#new_year_bnt:hover {
  background: url("../../assets/fondo_div/añonuevo.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#christmas_bnt:hover {
  background: url("../../assets/fondo_div/pattern.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#day_of_dead_bnt:hover {
  background: url("../../assets/fondo_div/day-of-the-dead-paper-4433345_1920.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#halloween_bnt:hover {
  background: url("../../assets/fondo_div/bats.png");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#independence_bnt:hover {
  background: url("../../assets/fondo_div/fiestas-patrias3.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#father_day_bnt:hover {
  background: url("../../assets/fondo_div/fathers-day-card.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#mother_day_bnt:hover {
  background: url("../../assets/fondo_div/diadelasmothers.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#valentin_day_bnt:hover {
  background: url("../../assets/fondo_div/love.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#age_person_bnt:hover {
  background: url("../../assets/fondo_div/business-861325_1920.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*RESULTADO*/
.result-class {
  background-color: #f8f9fa;
  box-shadow: 2px 2px 2px 2px black;
}

#new_year_result {
  display: none;
  background: url("../../assets/fondo_div/añonuevo.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#christmas_result {
  display: none;
  background: url("../../assets/fondo_div/navidad.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#day_of_dead_result {
  display: none;
  background: url("../../assets/fondo_div/frame-5323753_1920.png");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#halloween_result {
  display: none;
  background: url("../../assets/fondo_div/halloween.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#independence_result {
  display: none;
  background: url("../../assets/fondo_div/fiestas-patrias3.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#father_day_result {
  display: none;
  background: url("../../assets/fondo_div/fathers-day.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#mother_day_result {
  display: none;
  background: url("../../assets/fondo_div/diadelasmothers.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#valentin_day_result {
  display: none;
  background: url("../../assets/fondo_div/sanvalentin.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#age_person_result {
  display: none;
}

#init_result {
  background: url("../../assets/fondo_div/time-3222267_1920.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#init_result .icon-i {
  text-shadow: 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
}

#holidays_h3 {
  color: black;
  text-shadow: 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
}

.title_box {
  color: white;
  text-shadow: 2px 2px 0 #212529, 2px -2px 0 #212529, -2px 2px 0 #212529, -2px -2px 0 #212529, 2px 0px 0 #212529, 0px 2px 0 #212529, -2px 0px 0 #212529, 0px -2px 0 #212529;
  letter-spacing: 3px;
}

/*Reloj*/
.box-clock {
  background-color: #343a40;
  color: white;
  text-shadow: 2px 2px 0 #212529, 2px -2px 0 #212529, -2px 2px 0 #212529, -2px -2px 0 #212529, 2px 0px 0 #212529, 0px 2px 0 #212529, -2px 0px 0 #212529, 0px -2px 0 #212529;
  letter-spacing: 4px;
  border-radius: 8px;
  border: 3px solid #adb5bd;
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
