@charset "UTF-8";
body {
  background-color: #f5f3f4;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.marginT {
  margin-top: 15px;
}

.marginB {
  margin-bottom: 15px;
}

#title-main {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  margin-top: 10px;
  transition: all 300ms;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}
#title-main #title-a {
  text-decoration: none;
  color: #FFFFFF;
}

#title-main:hover {
  animation: shakeY;
  animation-duration: 2s;
}

.colums-btn {
  background-color: #e9c46a;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
  border: 3px solid black;
  margin-left: 4px;
  cursor: pointer;
}
.colums-btn span:hover {
  text-decoration: underline;
}

.colums-btn:hover {
  background-color: #ffd6a5;
  animation: heartBeat;
  animation-duration: 2s;
}

/*RESULTADO*/
.result-class {
  background-color: #f8f9fa;
  box-shadow: 2px 2px 2px 2px black;
}

#new_year_result {
  display: none;
  background: url("../../assets/fondo_div/añonuevo.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#christmas_result {
  display: none;
  background: url("../../assets/fondo_div/navidad.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#day_of_dead_result {
  display: none;
  background: url("../../assets/fondo_div/frame-5323753_1920.png");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#halloween_result {
  display: none;
  background: url("../../assets/fondo_div/halloween.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#independence_result {
  display: none;
  background: url("../../assets/fondo_div/fiestas-patrias3.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#father_day_result {
  display: none;
  background: url("../../assets/fondo_div/fathers-day.jpg");
  background-color: #f8f9fa;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#mother_day_result {
  display: none;
}

#valentin_day_result {
  display: none;
}

#age_person_result {
  display: none;
}

#holidays_h3 {
  color: black;
  text-shadow: 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
}

.title_box {
  color: white;
  text-shadow: 2px 2px 0 #212529, 2px -2px 0 #212529, -2px 2px 0 #212529, -2px -2px 0 #212529, 2px 0px 0 #212529, 0px 2px 0 #212529, -2px 0px 0 #212529, 0px -2px 0 #212529;
}

/*# sourceMappingURL=index.css.map */
